<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="UTF-8">
	<title>Find Films - vue.js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<style>
		.card {
			border: none;
		}
		.card img {
			height: 350px;
			width: 100%;
			object-fit: cover;
		}
	</style>
</head>

<body class="h-100">
	<div id="app" class="h-100 d-flex flex-column justify-content-between">
		<header>
			<div class="navbar navbar-dark bg-dark shadow-sm">
				<div class="container d-flex justify-content-between">
					<a href="#" class="navbar-brand d-flex align-items-center">
						<svg class="mr-3" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-reels" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M0 8a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8zm11.5 5.175l3.5 1.556V7.269l-3.5 1.556v4.35zM2 7a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2z"/>
							<path fill-rule="evenodd" d="M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							<path fill-rule="evenodd" d="M9 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						</svg>

						<strong>Vue films</strong>
					</a>
				</div>
			</div>
		</header>

		<main role="main" class="bg-light flex-grow-1">
			<section class="jumbotron text-center mb-0">
				<div class="container">
					<h1 class="jumbotron-heading">Поиск фильмов</h1>
					<p class="lead text-muted">Реализация фронта для OMDb API <code>https://www.omdbapi.com/</code></p>
				</div>
			</section>

			<div class="py-5">
				<div class="container">

					<div class="card shadow bg-white p-4 mb-5">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="api_query">Что будем искать?</label>
									<input type="text" v-model="api_query" @input="findFilms" id="api_query" class="form-control">
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="api_year">Год выпуска</label>
									<input type="text" v-model="api_year" @input="findFilms" id="api_year" class="form-control">
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="api_type">Тип</label>
									<select v-model="api_type" @change="findFilms" id="api_type" class="form-control">
										<option value="">---</option>
										<option v-for="(type_item, key) in type_list" :key="key" :value="key">{{type_item}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<p class="h5 mb-4 text-center" v-if="total_results">Найдено: <b>{{ total_results }}</b> фильмов/сериалов</p>
					<p class="h5 mb-4 text-center" v-else>К сожалению, ничего не нашлось 😟</p>

					<div class="row">
						<film-card
							v-for="(film, key) in films"
							:key="key"
							:film="film"
							:type_list="type_list"
						></film-card>						
					</div>

					<div class="text-center">
						<button 
							class="btn btn-primary" 
							@click="showMore" 
							v-if="total_results && films.length < total_results"
							:disabled="show_more_disabled"
						> 
							Показать еще
							<span class="spinner-border spinner-border-sm ml-2" v-if="show_more_disabled"></span>
						</button>
					</div>
				</div>
			</div>
		</main>
	</div>


	<script>
		Vue.component('film-card', {
			props: ['film', 'type_list'],
			computed: {
				year: function() {
					return this.film.Year + ' г';
				},
				type: function() {
					return this.type_list[this.film.Type] ?? this.film.Type;
				},				
			},
			template: `
				<div class="col-6 col-md-4 col-lg-3 mb-5">
					<div class="card h-100 shadow">
						<img :src="film.Poster" class="bd-placeholder-img card-img-top">
						<div class="card-body">
							<p class="h4">{{ film.Title }}</p>
							<p class="card-text">
								<span class="badge badge-primary">{{ this.type }}</span>
								<span class="badge badge-primary">{{ this.year }}</span>
							</p>
						</div>
					</div>
				</div>
			`
		})

		var app = new Vue({
			el: '#app',
			data: {
				films: [],
				total_results: 0,
				api_key: '8a52e5e8',
				api_query: 'Iron',
				api_type: '',
				api_year: '',
				api_page: 1,
				type_list: {
					movie: 'Фильм',
					series: 'Сериал',
					episode: 'Эпизод',
				},
				show_more_disabled: false
			},
			computed: {
			},
			methods: {
				getFilms: function() {
					this.show_more_disabled = true;
					axios({
						method: 'get',
						url: 'https://www.omdbapi.com',
						params: {
							apikey: this.api_key,
							s: 		this.api_query,
							type: 	this.api_type,
							y: 		this.api_year,
							page : 	this.api_page,
						}
					})
					.then(response => {
						this.show_more_disabled = false;
						if (this.api_page == 1) {
							this.films = [];
						}
						if (!!response.data.Search) {
							this.films = [...this.films, ...response.data.Search];
						}
						this.total_results = response.data.totalResults ?? 0;
					})
					.catch(error => console.log(error));
				},
				findFilms: function() {
					this.api_page = 1;
					this.getFilms();
				},
				showMore: function() {
					this.api_page += 1;
					this.getFilms();
				}
			},
			mounted() {
				this.getFilms();
			}
		})
	</script>
</body>
</html>